
@{
    ViewBag.Title = "SettingsList";
    Layout = "~/Views/_Layout.cshtml";
}
@{ Html.RenderPartial("head");}
<section class="row">


            @{ Html.RenderPartial("section");}

    <style>
        .edge {
            min-height: -webkit-fill-available;
        }
    </style>
    <div class="col-6 background padding-15">
        <div class="w-100" id="settings-fields">
            <h5>Изменить параметры учетной записи</h5>

            <form id="SettingsForm" class="" method="post" action="#" style="margin-top:30px;">

                <div class="w-100">

                    <p class="w-100 text-secondary">Изменить пароль</p>
                    <hr>

                    <div class="col-6" style="display:inline-block; height: 12%">
                        <p class="col-6" style="display:inline-block;">Старый пароль:</p>
                        <input type="password" name="OldPasswordField" style="display:inline-block; max-width: 73.7%;" class="col-9 form-control" placeholder="Enter password">
                    </div>

                    <div class="col-6" style="display:inline-block; float: right">
                        <p class="col-6" style="display:inline-block;">Новый пароль:</p>
                        <input type="password" name="NewPasswordInField" id="NewPasswordInField" style="display:inline-block;  max-width: 73.7%;" class="col-9 form-control" placeholder="Enter password">

                    </div>

                    <div class="col-6 offset-6" id="NewPasswordConfirmDiv" style="display:inline-block; float: right">
                        <p class="col-6" style="display:inline-block;">Повторите пароль:</p>
                        <input type="password" name="NewPasswordConfirmField" id="NewPasswordConfirmField" style="display:inline-block;  max-width: 73.7%;" class="col-9 form-control" placeholder="Confirm password">
                    </div>

                    <p class="w-100 text-secondary">Личные данные</p>
                    <hr>

                    <div class="col-6" style="display:inline-block; height: 12%">
                        <p class="col-3" style="display:inline-block;">Фамилия:</p>
                        <input type="text" id="LastNameField" name="LastNameField" style="display:inline-block; max-width: 73.7%;" class="col-9 form-control" placeholder="Last name">
                        <!--<p id="LastNameAlert" class="col-8 offset-3 invisible" style="display:block; color:red; font-size:0.6em; margin-top:-5px">Поле должно быть заполнено!</p> -->
                    </div>

                    <div class="col-6" style="display:inline-block; float: right">
                        <p class="col-3" style="display:inline-block;">Имя:</p>
                        <input type="text" name="FirstNameField" style="display:inline-block;  max-width: 73.7%;" class="col-9 form-control" placeholder="First name">

                    </div>

                    <div class="col-6" style="display:inline-block; float: right">
                        <p class="col-3" style="display:inline-block; ">Отчество:</p>
                        <input type="text" name="FathertNameField" style="display:inline-block;  max-width: 73.7%;" class="col-9 form-control" placeholder="Father name">
                    </div>

                    <div class="col-6" style="display:inline-block;">
                        <p class="col-3" style="display:inline-block">Город:</p>
                        <!--<input type="text" style="display:inline-block;  max-width: 73.7%;" class="col-9 form-control" placeholder="City"> -->
                        <select style="display:inline-block;  max-width: 73.7%;" class="col-9 form-control" id="exampleFormControlSelect2">
                            <option>Минск</option>
                            <option>Москва</option>
                            <option>Могилев</option>
                            <option>Сайлентхилл</option>
                            <option>Надоело придумывать</option>
                        </select>
                    </div>

                    <div class="col-6" style="display:inline-block; margin-top: 25px">
                        <p class="col-5" style="display:inline-block;">День рождения:</p>
                        <input class="form-control" type="date" value="2011-08-19T13:45:00" id="example-date-input" style="display:inline-block;  max-width: 57%;">
                    </div>

                    <div class="col-6" style="display:inline-block; margin-top: 25px">
                        <p class="col-2 offset-1" style="display:inline-block;">Пол:</p>
                        <div class="form-check col-4" style="display:inline-block;">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input registation-radio" name="optionsRadios" id="optionsRadios1" value="" checked>
                                Мужской
                            </label>
                        </div>
                        <div class="form-check col-4" style="display:inline-block;">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input  registation-radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Женский
                            </label>
                        </div>
                    </div>

                    <div class="w-100" style="display:inline-block; margin-top: 25px;">
                        <p class="col-2" style="display:inline-block;">Статус:</p>
                        <input type="text" style="display:inline-block;  max-width: 82%" class="col-10 form-control" placeholder="">
                    </div>

                    <div class="w-100" style="display:inline-block; margin-top: 25px;">
                        <p class="col-2" style="display:inline-block; top: -35px; width: 15%">О себе:</p>
                        <textarea style="display:inline-block;" class="col-10 form-control" placeholder=""></textarea>
                    </div>

                    <p class="w-100 text-secondary">Контактная информация</p>
                    <hr>

                    <div class="col-6" id="Email" style="display:inline-block;">
                        <p class="col-6" style="display:inline-block;">E-mail:</p>
                        <input type="email" name="EmailField" id="NewPasswordConfirmField" style="display:inline-block;  max-width: 73.7%;" class="col-9 form-control" placeholder="Enter email">
                    </div>

                    <div class="col-6" style="display:inline-block; float: right">
                        <p class="col-6 d-inline-block" >Skype:</p>
                        <input type="text" name="Skype" style="display:inline-block;  max-width: 73.7%;" class="col-9 form-control" placeholder="Skype">
                    </div>

                    <input type="submit" id="SaveSettings" class="col-3 offset-9 btn btn-info" style="max-width: 24.7%; margin-top: 15px;" value="Сохранить">
                </div>
            </form>
        </div>
    </div>

    <div class="col-2">
        <div class="w-100" style="background: #e8eeee; border-radius: 3px; padding-left: 2px; ">
            <div class="w-100 border-shadow"><p style="font-size: 0.85em;">Напоминание: сегодня пройдет мероприятие, которое надо постетить!</p></div>
            <p style="font-size: 0.85em;">Напоминание: сегодня пройдет мероприятие, которое надо постетить!</p>
            <p style="font-size: 0.85em;">Напоминание: сегодня пройдет мероприятие, которое надо постетить!</p>

        </div>
    </div>
</section>

